:root {
	--primary: #ddd;
	--dark: #333;
	--light: #fff;
	--shadow: 0 1px 5px rgba(104, 104, 104, 0.8);

	--c-background: #ccc;
	--c-light: #F4F4F4;
	--c-dark: #35424a;
	--c-orange: #e8491d;
	--c-text: #ffffff;
	--c-hover: #cccccc;


}
html {
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}

body {
  background: var(--c-light);
  margin: 0;
  padding: 0;
  line-height: 1;
}

.btn1 {
  background: var(--c-orange);
  color: var(--c-light);
  height: 30px;
  padding: 0.5rem 1rem;
  text-decoration: none;
  border: 0;
  cursor: pointer;

}

.wrapper {
	width: 80%;
	margin: auto;
  	display: grid;
  	/*grid-gap: 20px;*/
}

/* Navigation, Top container*/
.top-container {
	display: grid;
	grid-template-areas:
		'logo main-nav';
	grid-template-columns: 1.5fr 1fr;
	height: 100px;
	background: var(--c-dark);
	color: var(--c-orange);
	border-bottom: var(--c-orange) 5px solid;

}

.logo{
	display: grid;
	margin-left: 20px;
	grid-area: logo;
	font-size: 40px;
}
.main-nav {
	grid-area: main-nav;
}
.main-nav ul {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 10px;
	padding: 0;
	list-style: none;

}

.main-nav a {
  display: block;
  text-decoration: none;
  padding: 0.5rem;
  text-align: center;
  color: var(--c-light);
  text-transform: uppercase;
  margin-top: 10px;
  margin-right: 10px;
  font-size: 20px;
  box-shadow: var(--shadow);
}

.main-nav a:hover {
  background: var(--dark);
  color: var(--c-orange);
}

/* Search container*/
.search-container {
	display: grid;
	/*grid-template-areas:
		'search-text search-form';
	grid-template-columns: 1fr 1fr;*/
	height: 60px;
	background: var(--c-dark);
	color: var(--c-light);
}

/*.search-text {
	grid-area: search-text;
	margin-left: 20px;
	font-size: 20px;
}*/

.search-form {
	margin: 10px 0 0 20px;

	/*grid-area: search-form;
	justify-self: start;*/

}

form input {
	height: 25px;
	width: 250px;
}

form textarea {
	width: 400px;
	height: 150px;
}

/*Contact form*/

.contact-form label,
.contact-form input,
.contact-form textarea {

	margin: 10px 0  10px 10px;
	font-family: Arial, Helvetica, sans-serif;
}

.contact-form button {

	margin: 5px 0 0 12px;
}


/* Articles container*/

.articles {
  display: grid;
  grid-column-gap: 20px;
  grid-template-columns: 2fr 1fr;
  /*grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));*/
}

.box-container {
	grid-column: 1;
  	background: var(--c-background);
  	text-align: left;
  	padding: 0.5rem 0.5rem;
  	box-shadow: var(--shadow);
		margin-top: 20px;
		text-decoration: none;
	/*height: 100px;
	overflow: hidden;*/
}

.box {
	grid-column: 1;
  background: var(--c-background);
  text-align: left;
	padding: 0rem 1rem 1rem 1rem;
  box-shadow: var(--shadow);
	margin-top: 20px;
	text-decoration: none;
	height: auto;
	overflow: hidden;

}

.login{
	grid-column:2;
	margin-top: 20px;
	height: 220px;
	background: var(--c-dark);
	color: var(--c-light);
	box-shadow: var(--shadow);
}

.login h3,
.login form label,
.login form input {
	width: 90%;
	margin: 10px 0  10px 10px;
}

.login form button {

	margin: 5px 0 0 10px;
}

footer {
	padding: 20px;
	margin-top: 20px;
	color: var(--c-text);
	background-color: var(--c-orange);
	text-align: center;
}
